body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:756px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17736 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:22px;
  width:150px;
  height:756px;
}
#u17737 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:370px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:75px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17738 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:22px;
  width:1280px;
  height:75px;
}
#u17739 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:28px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u17740 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:46px;
  width:241px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u17741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u17742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17742 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:52px;
  width:109px;
  height:16px;
}
#u17743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u17744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u17744 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:52px;
  width:37px;
  height:16px;
  color:#0000FF;
}
#u17745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u17746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u17746 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:96px;
  width:150px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u17747 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u17748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u17748 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:150px;
  width:150px;
  height:55px;
  font-size:18px;
  text-align:left;
}
#u17749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u17750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u17750 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:204px;
  width:150px;
  height:55px;
  font-size:18px;
  text-align:left;
}
#u17751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u17752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u17752 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:258px;
  width:150px;
  height:55px;
  font-size:18px;
  text-align:left;
}
#u17753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u17754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u17754 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:312px;
  width:150px;
  height:55px;
  font-size:18px;
  text-align:left;
}
#u17755 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u17756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:2px;
}
#u17756 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:413px;
  width:137px;
  height:1px;
}
#u17757 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:2px;
}
#u17758 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:459px;
  width:137px;
  height:1px;
}
#u17759 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:2px;
}
#u17760 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:506px;
  width:137px;
  height:1px;
}
#u17761 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17762 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:380px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u17763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17764 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:426px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u17765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u17766 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:474px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u17767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u17768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17768 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:387px;
  width:15px;
  height:46px;
}
#u17769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u17770 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:399px;
  width:13px;
  height:20px;
}
#u17771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1131px;
  height:682px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17772 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:96px;
  width:1131px;
  height:682px;
}
#u17773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:333px;
  width:1127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17774 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:111px;
  width:82px;
  height:30px;
}
#u17774_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u17775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17776 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:506px;
  width:530px;
  height:254px;
}
#u17777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:119px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17778 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:506px;
  width:530px;
  height:254px;
}
#u17779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:119px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u17780 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:507px;
  width:528px;
  height:32px;
  text-align:left;
}
#u17781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:524px;
  word-wrap:break-word;
}
#u17782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u17782 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:507px;
  width:528px;
  height:31px;
  text-align:left;
}
#u17783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:524px;
  word-wrap:break-word;
}
#u17784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17784 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:552px;
  width:504px;
  height:16px;
}
#u17785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  white-space:nowrap;
}
#u17786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:2px;
}
#u17786 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:579px;
  width:510px;
  height:1px;
}
#u17787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17788 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:590px;
  width:504px;
  height:16px;
}
#u17789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  white-space:nowrap;
}
#u17790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:2px;
}
#u17790 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:617px;
  width:510px;
  height:1px;
}
#u17791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17792 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:628px;
  width:504px;
  height:16px;
}
#u17793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  white-space:nowrap;
}
#u17794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:2px;
}
#u17794 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:655px;
  width:510px;
  height:1px;
}
#u17795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17796 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:552px;
  width:504px;
  height:16px;
}
#u17797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  white-space:nowrap;
}
#u17798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:2px;
}
#u17798 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:579px;
  width:510px;
  height:1px;
}
#u17799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17800 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:590px;
  width:504px;
  height:16px;
}
#u17801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  white-space:nowrap;
}
#u17802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:2px;
}
#u17802 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:617px;
  width:510px;
  height:1px;
}
#u17803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17804 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:628px;
  width:504px;
  height:16px;
}
#u17805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  white-space:nowrap;
}
#u17806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:2px;
}
#u17806 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:655px;
  width:510px;
  height:1px;
}
#u17807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:325px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17808 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:159px;
  width:530px;
  height:325px;
}
#u17809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:154px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:288px;
}
#u17810 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:196px;
  width:481px;
  height:288px;
}
#u17811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:325px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17812 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:159px;
  width:530px;
  height:325px;
}
#u17813 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:154px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:271px;
}
#u17814 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:205px;
  width:439px;
  height:271px;
}
#u17815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:128px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
