body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:750px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10149 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:95px;
  width:1280px;
  height:750px;
}
#u10150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:367px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 150, 136, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10151 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:1280px;
  height:55px;
}
#u10152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:55px;
}
#u10153 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:272px;
  height:55px;
}
#u10154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:35px;
}
#u10155 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:50px;
  width:404px;
  height:35px;
}
#u10156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:726px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u10157 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:118px;
  width:150px;
  height:726px;
  color:#000000;
}
#u10158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:355px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u10159 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:119px;
  width:150px;
  height:55px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u10160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u10161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u10161 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:173px;
  width:150px;
  height:55px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u10162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u10163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u10163 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:230px;
  width:150px;
  height:55px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u10164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u10165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u10165 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:496px;
  width:150px;
  height:55px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u10166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u10167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u10167 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:550px;
  width:150px;
  height:55px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u10168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u10169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u10169 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:410px;
  width:15px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u10170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:11px;
  word-wrap:break-word;
}
#u10171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10171 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:292px;
  width:113px;
  height:16px;
}
#u10172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u10173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009688;
}
#u10173 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:329px;
  width:57px;
  height:16px;
  color:#009688;
}
#u10174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10175 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:367px;
  width:85px;
  height:16px;
}
#u10176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u10177 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:193px;
  width:15px;
  height:15px;
}
#u10178 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u10179 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:516px;
  width:15px;
  height:15px;
}
#u10180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u10181 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:570px;
  width:15px;
  height:15px;
}
#u10182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u10183 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:250px;
  width:15px;
  height:15px;
}
#u10184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:726px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u10185 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:118px;
  width:1110px;
  height:726px;
  color:#000000;
}
#u10186 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:355px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10187 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:404px;
  width:85px;
  height:16px;
}
#u10188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10189 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:439px;
  width:71px;
  height:16px;
}
#u10190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10191 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:473px;
  width:57px;
  height:16px;
}
#u10192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10193 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:132px;
  width:189px;
  height:16px;
}
#u10194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u10195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 150, 136, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10195 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:162px;
  width:65px;
  height:25px;
  color:#FFFFFF;
}
#u10196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  word-wrap:break-word;
}
#u10197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10198 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:523px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u10199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10200 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:589px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u10201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10202 {
  border-width:0px;
  position:absolute;
  left:866px;
  top:589px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u10203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10204 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:589px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u10205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10206 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:626px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u10207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10208 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:520px;
  width:145px;
  height:22px;
}
#u10208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10208_input:disabled {
  color:grayText;
}
#u10209 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:584px;
  width:145px;
  height:25px;
}
#u10209_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10210 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:584px;
  width:145px;
  height:25px;
}
#u10210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10211 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:584px;
  width:145px;
  height:25px;
}
#u10211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10212 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:621px;
  width:754px;
  height:25px;
}
#u10212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10213 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:661px;
  width:47px;
  height:16px;
  font-size:14px;
}
#u10214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u10215 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:656px;
  width:754px;
  height:25px;
}
#u10215_input {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10216 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:455px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u10217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10218 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:450px;
  width:145px;
  height:25px;
}
#u10218_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10219 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:455px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u10220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u10221 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:450px;
  width:145px;
  height:25px;
}
#u10221_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10222 {
  border-width:0px;
  position:absolute;
  left:901px;
  top:455px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u10223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10224 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:450px;
  width:145px;
  height:25px;
}
#u10224_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10225 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:490px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u10226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10227 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:485px;
  width:145px;
  height:25px;
}
#u10227_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10228 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:492px;
  width:80px;
  height:16px;
}
#u10229 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u10228_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10230 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:557px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u10231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10232 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:553px;
  width:135px;
  height:22px;
}
#u10232_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10232_input:disabled {
  color:grayText;
}
#u10233 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:552px;
  width:135px;
  height:22px;
}
#u10233_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10233_input:disabled {
  color:grayText;
}
#u10234 {
  border-width:0px;
  position:absolute;
  left:767px;
  top:552px;
  width:105px;
  height:22px;
}
#u10234_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10234_input:disabled {
  color:grayText;
}
#u10235 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:552px;
  width:110px;
  height:25px;
}
#u10235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u10236 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:552px;
  width:110px;
  height:25px;
}
#u10236_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u10237 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:552px;
  width:135px;
  height:22px;
}
#u10237_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10237_input:disabled {
  color:grayText;
}
#u10238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10238 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:492px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u10239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10240 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:489px;
  width:145px;
  height:22px;
}
#u10240_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10240_input:disabled {
  color:grayText;
}
#u10241 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:489px;
  width:145px;
  height:22px;
}
#u10241_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10241_input:disabled {
  color:grayText;
}
#u10242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10242 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:492px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u10243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009688;
  text-align:left;
}
#u10244 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:197px;
  width:1084px;
  height:31px;
  color:#009688;
  text-align:left;
}
#u10245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:1080px;
  word-wrap:break-word;
}
#u10246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10246 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:249px;
  width:85px;
  height:16px;
}
#u10247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u10248 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:245px;
  width:144px;
  height:25px;
}
#u10248_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10249 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:285px;
  width:71px;
  height:16px;
}
#u10250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10251 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:280px;
  width:754px;
  height:25px;
}
#u10251_input {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10252 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:249px;
  width:71px;
  height:16px;
}
#u10253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10254 {
  border-width:0px;
  position:absolute;
  left:654px;
  top:245px;
  width:144px;
  height:25px;
}
#u10254_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10255 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:249px;
  width:71px;
  height:16px;
}
#u10256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10257 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:245px;
  width:144px;
  height:25px;
}
#u10257_input {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10258 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:376px;
  width:113px;
  height:16px;
  font-size:14px;
}
#u10259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u10260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u10260 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:346px;
  width:113px;
  height:16px;
  font-size:14px;
}
#u10261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u10262 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:343px;
  width:145px;
  height:22px;
}
#u10262_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10262_input:disabled {
  color:grayText;
}
#u10263 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:317px;
  width:252px;
  height:16px;
  color:#FF0000;
}
#u10264 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u10263_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:31px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009688;
  text-align:left;
}
#u10265 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:409px;
  width:1084px;
  height:31px;
  color:#009688;
  text-align:left;
}
#u10266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:1080px;
  word-wrap:break-word;
}
#u10267 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:275px;
  width:436px;
  height:389px;
  overflow:hidden;
}
#u10267_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:389px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10267_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10267_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:389px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10267_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:190px;
}
#u10269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:87px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u10270 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:9px;
  width:31px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u10271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u10272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 150, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 150, 135, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10272 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:141px;
  width:76px;
  height:26px;
  color:#FFFFFF;
}
#u10273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u10274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10274 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:141px;
  width:76px;
  height:26px;
}
#u10275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:72px;
  word-wrap:break-word;
}
#u10276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10276 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:49px;
  width:385px;
  height:19px;
  font-size:16px;
}
#u10277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u10278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10279 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:78px;
  width:183px;
  height:16px;
}
#u10280 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u10279_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10281 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:104px;
  width:183px;
  height:16px;
}
#u10282 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u10281_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 150, 136, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10283 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:48px;
  width:233px;
  height:36px;
}
#u10284 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10285 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:58px;
  width:43px;
  height:16px;
  color:#FFFFFF;
}
#u10286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u10287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10287 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:58px;
  width:71px;
  height:16px;
  color:#FFFFFF;
}
#u10288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u10289 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:58px;
  width:35px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u10290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u10291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u10291 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:64px;
  width:10px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u10292 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
