body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1692px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1664px;
  height:416px;
}
#u13084 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:183px;
  width:1664px;
  height:416px;
}
#u13085 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:200px;
  width:1660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#008000;
}
#u13086 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:141px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#008000;
}
#u13087 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13088_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13088 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:141px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u13089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u13090 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:141px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u13091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u13092_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:79px;
  height:5px;
}
#u13092 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:169px;
  width:76px;
  height:2px;
}
#u13093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
}
#u13094 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:650px;
  width:300px;
  height:50px;
  font-size:18px;
}
#u13095 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u13096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:109px;
}
#u13096 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:22px;
  width:960px;
  height:109px;
}
#u13097 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
