body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:756px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31191 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:22px;
  width:150px;
  height:756px;
}
#u31192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:370px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:75px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31193 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:22px;
  width:1280px;
  height:75px;
}
#u31194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:28px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u31195 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:46px;
  width:241px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u31196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u31197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31197 {
  border-width:0px;
  position:absolute;
  left:1109px;
  top:52px;
  width:109px;
  height:16px;
}
#u31198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u31199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u31199 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:52px;
  width:37px;
  height:16px;
  color:#0000FF;
}
#u31200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u31201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u31201 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:96px;
  width:150px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u31202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u31203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u31203 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:150px;
  width:150px;
  height:55px;
  font-size:18px;
  text-align:left;
}
#u31204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u31205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u31205 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:204px;
  width:150px;
  height:55px;
  font-size:18px;
  text-align:left;
}
#u31206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u31207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u31207 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:258px;
  width:150px;
  height:55px;
  font-size:18px;
  text-align:left;
}
#u31208 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u31209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u31209 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:312px;
  width:150px;
  height:55px;
  font-size:18px;
  text-align:left;
}
#u31210 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:146px;
  word-wrap:break-word;
}
#u31211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:2px;
}
#u31211 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:413px;
  width:137px;
  height:1px;
}
#u31212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:2px;
}
#u31213 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:459px;
  width:137px;
  height:1px;
}
#u31214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:2px;
}
#u31215 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:506px;
  width:137px;
  height:1px;
}
#u31216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u31217 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:380px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u31218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u31219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u31219 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:426px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u31220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u31221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u31221 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:474px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u31222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u31223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:46px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31223 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:387px;
  width:15px;
  height:46px;
}
#u31224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u31225 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:399px;
  width:13px;
  height:20px;
}
#u31226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1131px;
  height:682px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31227 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:96px;
  width:1131px;
  height:682px;
}
#u31228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:333px;
  width:1127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31229 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:111px;
  width:82px;
  height:30px;
}
#u31229_input {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u31230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31231 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:506px;
  width:530px;
  height:254px;
}
#u31232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:119px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31233 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:506px;
  width:530px;
  height:254px;
}
#u31234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:119px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u31235 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:507px;
  width:528px;
  height:32px;
  text-align:left;
}
#u31236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:524px;
  word-wrap:break-word;
}
#u31237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u31237 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:507px;
  width:528px;
  height:31px;
  text-align:left;
}
#u31238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:524px;
  word-wrap:break-word;
}
#u31239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31239 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:552px;
  width:504px;
  height:16px;
}
#u31240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  white-space:nowrap;
}
#u31241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:2px;
}
#u31241 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:579px;
  width:510px;
  height:1px;
}
#u31242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31243 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:590px;
  width:504px;
  height:16px;
}
#u31244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  white-space:nowrap;
}
#u31245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:2px;
}
#u31245 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:617px;
  width:510px;
  height:1px;
}
#u31246 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31247 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:628px;
  width:504px;
  height:16px;
}
#u31248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  white-space:nowrap;
}
#u31249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:2px;
}
#u31249 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:655px;
  width:510px;
  height:1px;
}
#u31250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31251 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:552px;
  width:504px;
  height:16px;
}
#u31252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  white-space:nowrap;
}
#u31253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:2px;
}
#u31253 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:579px;
  width:510px;
  height:1px;
}
#u31254 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31255 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:590px;
  width:504px;
  height:16px;
}
#u31256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  white-space:nowrap;
}
#u31257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:2px;
}
#u31257 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:617px;
  width:510px;
  height:1px;
}
#u31258 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31259 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:628px;
  width:504px;
  height:16px;
}
#u31260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  white-space:nowrap;
}
#u31261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:2px;
}
#u31261 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:655px;
  width:510px;
  height:1px;
}
#u31262 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31263 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:515px;
  width:29px;
  height:16px;
}
#u31264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u31265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:325px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31265 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:159px;
  width:530px;
  height:325px;
}
#u31266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:154px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:325px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31267 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:159px;
  width:530px;
  height:325px;
}
#u31268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:154px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:288px;
}
#u31269 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:196px;
  width:481px;
  height:288px;
}
#u31270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:288px;
}
#u31271 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:196px;
  width:480px;
  height:288px;
}
#u31272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
