body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1181px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:179px;
}
#u30760 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:275px;
  width:140px;
  height:179px;
}
#u30761 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0000FF;
}
#u30762 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:181px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0000FF;
}
#u30763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u30764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30764 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:78px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u30766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30766 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:292px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u30768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u30768 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:886px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u30770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30770 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:377px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30771 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u30772 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:352px;
  width:0px;
  height:0px;
}
#u30772_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u30772_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:10px;
  width:20px;
  height:20px;
}
#u30773 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30774 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:789px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u30776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30776 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:1018px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u30778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u30778 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:172px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u30780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u30780 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:668px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30781 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u30782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30782 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:91px;
  width:323px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u30784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:2px;
}
#u30784 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:157px;
  width:1161px;
  height:1px;
}
#u30785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30786 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:90px;
  width:33px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u30788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:2px;
}
#u30788 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:541px;
  width:1161px;
  height:1px;
}
#u30789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:2px;
}
#u30790 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:752px;
  width:1161px;
  height:1px;
}
#u30791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30792 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:209px;
  width:421px;
  height:112px;
}
#u30793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u30794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30794 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:315px;
  width:33px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u30796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:2px;
}
#u30796 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:975px;
  width:1161px;
  height:1px;
}
#u30797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30798 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:834px;
  width:435px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  white-space:nowrap;
}
#u30800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30800 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:622px;
  width:33px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u30802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:2px;
}
#u30802 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:1161px;
  height:1px;
}
#u30803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30804 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:275px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u30806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u30806 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:482px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u30808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30808 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:574px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u30810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u30810 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:394px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u30812 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:138px;
  width:0px;
  height:0px;
}
#u30812_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u30812_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:20px;
}
#u30813 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30814 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:202px;
  width:0px;
  height:0px;
}
#u30814_seg0 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-4px;
  width:78px;
  height:8px;
}
#u30814_seg1 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-4px;
  width:8px;
  height:77px;
}
#u30814_seg2 {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:60px;
  width:20px;
  height:20px;
}
#u30815 {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u30816 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:202px;
  width:0px;
  height:0px;
}
#u30816_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u30816_seg1 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:-4px;
  width:8px;
  height:77px;
}
#u30816_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:60px;
  width:20px;
  height:20px;
}
#u30817 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u30818 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:454px;
  width:0px;
  height:0px;
}
#u30818_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u30818_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:15px;
  width:20px;
  height:20px;
}
#u30819 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30820 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:512px;
  width:0px;
  height:0px;
}
#u30820_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u30820_seg1 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:-211px;
  width:8px;
  height:215px;
}
#u30820_seg2 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:-211px;
  width:62px;
  height:8px;
}
#u30820_seg3 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-217px;
  width:20px;
  height:20px;
}
#u30821 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-98px;
  width:100px;
  word-wrap:break-word;
}
#u30822 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:512px;
  width:0px;
  height:0px;
}
#u30822_seg0 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:-4px;
  width:52px;
  height:8px;
}
#u30822_seg1 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:-408px;
  width:8px;
  height:412px;
}
#u30822_seg2 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:-408px;
  width:176px;
  height:8px;
}
#u30822_seg3 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:-414px;
  width:20px;
  height:20px;
}
#u30823 {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-272px;
  width:100px;
  word-wrap:break-word;
}
#u30824 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:335px;
  width:0px;
  height:0px;
}
#u30824_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u30824_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:46px;
  width:20px;
  height:20px;
}
#u30825 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30826 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:424px;
  width:0px;
  height:0px;
}
#u30826_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:45px;
  height:8px;
}
#u30826_seg1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:-320px;
  width:8px;
  height:324px;
}
#u30826_seg2 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:-320px;
  width:164px;
  height:8px;
}
#u30826_seg3 {
  border-width:0px;
  position:absolute;
  left:-126px;
  top:-326px;
  width:20px;
  height:20px;
}
#u30827 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-226px;
  width:100px;
  word-wrap:break-word;
}
#u30828 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:454px;
  width:0px;
  height:0px;
}
#u30828_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u30828_seg1 {
  border-width:0px;
  position:absolute;
  left:-123px;
  top:70px;
  width:127px;
  height:8px;
}
#u30828_seg2 {
  border-width:0px;
  position:absolute;
  left:-123px;
  top:70px;
  width:8px;
  height:50px;
}
#u30828_seg3 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:107px;
  width:20px;
  height:20px;
}
#u30829 {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:66px;
  width:100px;
  word-wrap:break-word;
}
#u30830 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:634px;
  width:0px;
  height:0px;
}
#u30830_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u30830_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:21px;
  width:20px;
  height:20px;
}
#u30831 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30832 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:728px;
  width:0px;
  height:0px;
}
#u30832_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u30832_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:48px;
  width:20px;
  height:20px;
}
#u30833 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u30834 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:698px;
  width:0px;
  height:0px;
}
#u30834_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:186px;
  height:8px;
}
#u30834_seg1 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:-397px;
  width:8px;
  height:401px;
}
#u30834_seg2 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:-397px;
  width:67px;
  height:8px;
}
#u30834_seg3 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:-403px;
  width:20px;
  height:20px;
}
#u30835 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:-145px;
  width:100px;
  word-wrap:break-word;
}
#u30836 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:849px;
  width:0px;
  height:0px;
}
#u30836_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u30836_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:24px;
  width:20px;
  height:20px;
}
#u30837 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30838 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:946px;
  width:0px;
  height:0px;
}
#u30838_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u30838_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:59px;
  width:20px;
  height:20px;
}
#u30839 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u30840 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:916px;
  width:0px;
  height:0px;
}
#u30840_seg0 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-4px;
  width:58px;
  height:8px;
}
#u30840_seg1 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-316px;
  width:8px;
  height:320px;
}
#u30840_seg2 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-316px;
  width:58px;
  height:8px;
}
#u30840_seg3 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-322px;
  width:20px;
  height:20px;
}
#u30841 {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:-164px;
  width:100px;
  word-wrap:break-word;
}
#u30842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30842 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:388px;
  width:487px;
  height:80px;
}
#u30843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  white-space:nowrap;
}
#u30844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30844 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:600px;
  width:463px;
  height:80px;
}
#u30845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  white-space:nowrap;
}
#u30846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30846 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:834px;
  width:33px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u30848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30848 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:1018px;
  width:33px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u30849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u30850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1162px;
  height:2px;
}
#u30850 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1110px;
  width:1161px;
  height:1px;
}
#u30851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1157px;
  visibility:hidden;
  word-wrap:break-word;
}
