body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:692px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5973 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:86px;
  width:1280px;
  height:692px;
}
#u5974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:338px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:680px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5975 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:96px;
  width:150px;
  height:680px;
  color:#000000;
}
#u5976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:332px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5977 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:96px;
  width:150px;
  height:55px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u5979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5979 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:150px;
  width:150px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u5981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5981 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:203px;
  width:150px;
  height:55px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u5983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5983 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:257px;
  width:150px;
  height:55px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u5985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5985 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:311px;
  width:150px;
  height:55px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u5986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u5987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u5987 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:387px;
  width:15px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u5988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:11px;
  word-wrap:break-word;
}
#u5989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 151, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 151, 136, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5989 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:31px;
  width:1280px;
  height:55px;
}
#u5990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u5991 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:47px;
  width:181px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u5992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u5993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u5993 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:40px;
  width:35px;
  height:35px;
}
#u5994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u5995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:35px;
}
#u5995 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:41px;
  width:404px;
  height:35px;
}
#u5996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1122px;
  height:641px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5997 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:135px;
  width:1122px;
  height:641px;
}
#u5998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:1118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5999 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:185px;
  width:66px;
  height:16px;
}
#u6000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6001 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:185px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u6002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6003 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:185px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u6004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6005 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:180px;
  width:145px;
  height:25px;
}
#u6005_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6006 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:180px;
  width:145px;
  height:25px;
}
#u6006_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6007 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:180px;
  width:145px;
  height:25px;
}
#u6007_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6008_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6008 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:105px;
  width:157px;
  height:16px;
  color:#666666;
}
#u6009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u6010_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6010 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:223px;
  width:66px;
  height:16px;
}
#u6011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6013 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:223px;
  width:100px;
  height:16px;
}
#u6014 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6013_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6015 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:223px;
  width:100px;
  height:16px;
}
#u6016 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6015_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6017 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:223px;
  width:100px;
  height:16px;
}
#u6018 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6017_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6019 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:223px;
  width:100px;
  height:16px;
}
#u6020 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6019_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6021 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:223px;
  width:100px;
  height:16px;
}
#u6022 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6021_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6023 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:215px;
  width:120px;
  height:30px;
  overflow:hidden;
}
#u6023_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6023_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6023_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6023_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:110px;
  height:25px;
}
#u6024_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u6025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6025 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:260px;
  width:66px;
  height:16px;
}
#u6026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6028 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:260px;
  width:100px;
  height:16px;
}
#u6029 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6028_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6030 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:260px;
  width:100px;
  height:16px;
}
#u6031 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6030_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6032 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:253px;
  width:173px;
  height:30px;
  overflow:hidden;
}
#u6032_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6032_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6032_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6032_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:164px;
  height:25px;
}
#u6033_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u6034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6034 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:336px;
  width:66px;
  height:16px;
}
#u6035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6036 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:331px;
  width:145px;
  height:22px;
}
#u6036_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6036_input:disabled {
  color:grayText;
}
#u6037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6037 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:296px;
  width:66px;
  height:16px;
}
#u6038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6040 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:296px;
  width:100px;
  height:16px;
}
#u6041 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6040_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6042 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:296px;
  width:100px;
  height:16px;
}
#u6043 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6042_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6044 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:296px;
  width:100px;
  height:16px;
}
#u6045 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6044_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6046 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:296px;
  width:100px;
  height:16px;
}
#u6047 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6046_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6048 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:289px;
  width:417px;
  height:30px;
  overflow:hidden;
}
#u6048_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6048_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6048_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6048_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:409px;
  height:25px;
}
#u6049_input {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u6050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6050 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:334px;
  width:66px;
  height:16px;
}
#u6051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6052 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:331px;
  width:145px;
  height:22px;
}
#u6052_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6052_input:disabled {
  color:grayText;
}
#u6053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6053 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:334px;
  width:105px;
  height:16px;
}
#u6054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u6055 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:330px;
  width:145px;
  height:25px;
}
#u6055_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6056 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:374px;
  width:66px;
  height:16px;
}
#u6057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6058 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:372px;
  width:743px;
  height:95px;
}
#u6058_input {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:95px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6059 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:484px;
  width:53px;
  height:16px;
}
#u6060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6061 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:484px;
  width:40px;
  height:16px;
}
#u6062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6063 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:523px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u6064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6065 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:562px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u6066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6067 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:518px;
  width:145px;
  height:25px;
}
#u6067_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6068 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:557px;
  width:145px;
  height:25px;
}
#u6068_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6069 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:486px;
  width:40px;
  height:16px;
}
#u6070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6071 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:523px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u6072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6073 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:523px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u6074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6075 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:518px;
  width:145px;
  height:25px;
}
#u6075_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6076 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:518px;
  width:145px;
  height:25px;
}
#u6076_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6077 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:562px;
  width:40px;
  height:16px;
}
#u6078 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6079 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:484px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u6080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6081 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:562px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u6082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6083 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:557px;
  width:145px;
  height:25px;
}
#u6083_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6084 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:557px;
  width:145px;
  height:25px;
}
#u6084_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6085 {
  border-width:0px;
  position:absolute;
  left:953px;
  top:482px;
  width:145px;
  height:22px;
}
#u6085_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6085_input:disabled {
  color:grayText;
}
#u6086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6086 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:603px;
  width:66px;
  height:16px;
}
#u6087 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u6088 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:601px;
  width:743px;
  height:67px;
}
#u6088_input {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:67px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6089 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:702px;
  width:80px;
  height:30px;
}
#u6089_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6090 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:702px;
  width:80px;
  height:30px;
}
#u6090_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6091 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:482px;
  width:145px;
  height:22px;
}
#u6091_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6091_input:disabled {
  color:grayText;
}
#u6092 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:482px;
  width:145px;
  height:22px;
}
#u6092_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6092_input:disabled {
  color:grayText;
}
#u6093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u6093 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:181px;
  width:12px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u6094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6095_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u6095 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:183px;
  width:12px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u6096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u6097 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:183px;
  width:12px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u6098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u6099 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:219px;
  width:12px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u6100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u6101 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:256px;
  width:12px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u6102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u6103 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:292px;
  width:12px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u6104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u6105 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:331px;
  width:12px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u6106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u6107 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:329px;
  width:12px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u6108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u6109 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:369px;
  width:12px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u6110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u6111 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:330px;
  width:12px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u6112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u6113 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:479px;
  width:12px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u6114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u6115 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:598px;
  width:12px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u6116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6117 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:510px;
  width:65px;
  height:16px;
  color:#FF0000;
}
#u6118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
