body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:750px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35031 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:95px;
  width:1280px;
  height:750px;
}
#u35032 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:367px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:55px;
  background:inherit;
  background-color:rgba(0, 150, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 150, 136, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35033 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:1280px;
  height:55px;
}
#u35034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:55px;
}
#u35035 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:272px;
  height:55px;
}
#u35036 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:35px;
}
#u35037 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:50px;
  width:404px;
  height:35px;
}
#u35038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:726px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u35039 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:118px;
  width:150px;
  height:726px;
  color:#000000;
}
#u35040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:355px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u35041 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:119px;
  width:150px;
  height:55px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u35042 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u35043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u35043 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:173px;
  width:150px;
  height:55px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u35044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u35045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u35045 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:338px;
  width:150px;
  height:55px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u35046 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u35047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u35047 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:392px;
  width:150px;
  height:55px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u35048 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u35049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u35049 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:446px;
  width:150px;
  height:55px;
  font-size:16px;
  color:#000000;
  text-align:left;
}
#u35050 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:146px;
  word-wrap:break-word;
}
#u35051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u35051 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:410px;
  width:15px;
  height:46px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u35052 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:11px;
  word-wrap:break-word;
}
#u35053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35053 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:236px;
  width:29px;
  height:16px;
}
#u35054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u35055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35055 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:275px;
  width:71px;
  height:16px;
}
#u35056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u35057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009688;
}
#u35057 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:313px;
  width:57px;
  height:16px;
  color:#009688;
}
#u35058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u35059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u35059 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:358px;
  width:15px;
  height:15px;
}
#u35060 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u35061 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:412px;
  width:15px;
  height:15px;
}
#u35062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u35063 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:466px;
  width:15px;
  height:15px;
}
#u35064 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u35065 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:193px;
  width:15px;
  height:15px;
}
#u35066 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:726px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u35067 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:118px;
  width:1110px;
  height:726px;
  color:#000000;
}
#u35068 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:355px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:719px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35069 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:118px;
  width:1111px;
  height:719px;
  opacity:0.4;
}
#u35070 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:352px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u35071 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:307px;
  width:415px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u35072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  white-space:nowrap;
}
#u35073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 150, 135, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 150, 135, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u35073 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:158px;
  width:75px;
  height:25px;
  color:#FFFFFF;
}
#u35074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u35075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35075 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:132px;
  width:150px;
  height:16px;
}
#u35076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
